*.iml
.kotlin
.gradle
*.kts~
*.log
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/shared/build/
/androidApp/build/
/iosApp/build/
/desktopApp/build/
iosApp/.swiftpm
iosApp/Pods/
iosApp/xcuserdata/
iosApp/*.xcworkspace
iosApp/*.xcodeproj/project.xcworkspace/
iosApp/*.xcodeproj/xcuserdata/
*.history
/.gemini/
/cache/
/tmp/
/logs/
/log/
*.apk
*.aar
*.dex
*.keystore
captures/
log/
logs/
npm-debug.log
yarn-debug.log
.yarn-integrity
/.cache/
*.swp
